<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Choreo Formation Maker</title>

  <!-- JQuery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- JavaScript -->
  <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>


  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="title black" id="title-sec">
        <span class="logo">Choreo</span> Formation Maker
      </div>
      <div class="subtitle">Load a YouTube video. <span class="bold">Create formations</span> for your choreography. </div>
      <div class="col-12" id="load-sec">
        <!-- <form name="form" type="POST" action="{{ url_for('save_url') }}" onsubmit="return validate()"> -->
          <input id="input-box" type="text" class="form-control" name="url" placeholder="Enter a YouTube video URL"></input>
          <button id="load-btn" type="submit" class="btn btn-primary load-btn-group">Load</button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">Error</div>
                <div class="modal-body">
                  Please enter a valid YouTube video URL!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary" onclick="window.location='/finish'">Review</button> -->
                </div>
              </div>
            </div>
          </div>

        <!-- </form> -->
      </div>
    </div>
  </div>
</body>

